@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,1000&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

:root {
    --line-border-fill: #fdda44;
    --line-border-empty: #e0e0e0;
    --primary-bg: #fdda44;
    --secondary-bg: #242629;
    --primary-text: #fdda44;
    --text-white: #ffff;

}

.fs-exlarge {
    font-size: 150px;
}

.primary-bg {
    background-color: var(--primary-bg) !important;
}

.secondary-bg {
    background-color: var(--secondary-bg) !important;
}

.primary-text {
    color: var(--primary-text) !important;
}

.text-white {
    color: var(--text-white) !important;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

/* Header Css */



.avatar-sm {
    width: 70px;
    /* height: 70px; */
}

.avatar-lg-child {
    width: 136px;
    /* height: 136px; */
}

.avatar-md-child {
    width: 100px;
    /* height: 100px; */
}

.avatar-lg {
    width: 150px;
    /* height: 177px; */
}
.avatar-first-md{
    width: 100px !important;
}

/* Progress Bar Css */




.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    /* margin-bottom: 30px; */
    max-width: 100%;
    width: 100%;
}

.progress-container::before {
    content: "";
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}


.progress {
    background-color: var(--line-border-fill);
    color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background-color: #fff;
    color: #ffff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
}

.circle.active {
    border-color: var(--line-border-fill);
    background-color: var(--line-border-fill);

}

.btn1 {
    background-color: var(--line-border-fill);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn1:active {
    transform: scale(0.98);
}

.btn1:focus {
    outline: 0;
}

.btn1:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}

/* Home-Hero part Css */
/* .child {
    height: 200px;
    width: 240px;
} */

.hero-border::before {
    content: "";
    position: absolute;
    height: 2px;
    top: 85%;
    left: 43%;
    transform: translateY(-50%);
    width: 172px;
    color: #fdda44;
    background-color: #fdda44;
}


/* Address Page Css */


.primary-line {
    border-bottom: 4px solid rgb(253, 218, 68);
    width: 170px;
    border-radius: 10px;
}

.border-last {
    border-right: 3px solid black !important;

}

/* slotbook page Css */

.next-logo {
    position: relative;
    left: 10%;
}



/* Calendar CSS code */

.calendar {
    /* margin: 50px 10px; */
    width: 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--secondary-bg);
    color: var(--primary-text);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.weekdays {
    display: flex;
    justify-content: space-between;
    background-color: rgb(243, 243, 243);
    padding: 10px 15px;
    border-bottom: 1px solid #555;
}

.weekdays div {
    width: calc(100% / 7);
    text-align: center;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 2fr);
    grid-auto-rows: 40px;
    padding: 10px;
}

.days div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.days div:hover {
    cursor: pointer;
    background-color: var(--primary-bg);
    border-radius: 20px;
    transition: 0.3s;
}

.today {
    background-color: rgb(243, 243, 243);
    border-radius: 50%;

}

.date-btn {
    margin: 10px;
    padding: 10px;
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.date-btn:hover {
    background-color: var(--primary-bg);
    transition: 0.6s;
    border-radius: 50%;
}


.selected {
    background-color: var(--primary-bg);
    /* Change the color to your preference */
    color: white;
    transform: 0.6s;
    border-radius: 50%;
}

/* Entry Form Page Css  */
.time-bg {
    background-color: #F3F2F5;
    border-radius: 10px;
}

.text-field {
    border-color: var(--line-border-fill);
    outline: var(--line-border-fill);
    border: 2px solid var(--primary-bg);
    border-radius: 10px;
}
.back-btn-header {
    width: 35px;
    /* background-color: var(--gc-color);  */
    height: 35px;
    border-radius: 20px !important;
    float: right;
    padding: 10px;
    margin-bottom: 65px;
    margin-right: 20px;
    transition: width 1s;
    overflow: hidden;
    white-space: nowrap;
}
.back-btn-header:hover {
    width: 40%;
    padding: 22px !important;
    border-radius: 10px !important;

}

.line{
    position: relative;
    content: "";
    width: 3px;
    height: 20px;
}

    @media screen and (max-width: 767px) {
        .child {
            width: 100px;
            height: auto;
        }

        .f-text {
            font-size: 10px;
            text-align: center !important;
        }

        .wid-mob {
            width: 100% !important;
        }
        .back-btn{
            display: none !important;
        }
    }

    @media screen and (min-width: 1320px) {
       .wid-mob{
        width: 50% !important;
       }
    }